<header class="facets__header">
    <h2 class="facets__header-title">Filters</h2>
    <button class="facets__header-button closeFilter">Cancel</button>
</header>
<div class="facets__birthplace">
    <h2>Birthplace</h2>
    {{ drupal_block('facet_block:birthplace_') }}
</div>
<div class="facets__maker-category">
    <h2>Maker Category</h2>
    {{ drupal_block('facet_block:maker_category_') }}
</div>
<div class="facets__schools">
    <h2>Schools</h2>
    {{ drupal_block('facet_block:schools_') }}
</div>
<div class="facets__employment">
    <h2>Employment</h2>
    {{ drupal_block('facet_block:employment_') }}
</div>
<div class="facets__favorite-food">
    <h2>Favorite Food</h2>
    {{ drupal_block('facet_block:favorite_food_') }}
</div>
<div class="facets__favorite-season">
    <h2>Favorite Season</h2>
    {{ drupal_block('facet_block:favorite_season_') }}
</div>
<div class="facets__favorite-vacation">
    <h2>Favorite Vacation Destination</h2>
    {{ drupal_block('facet_block:favorite_vacation_destination_') }}
</div>
<div class="facets__occupation">
    <h2>Occupation</h2>
    {{ drupal_block('facet_block:occupation_') }}
</div>
<div class="facets__organizations">
    <h2>Organizations</h2>
    {{ drupal_block('facet_block:organizations_') }}
</div>
<button class="facets__header-button closeFilter">Cancel</button>