{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-checkout-form clearfix">
  {% if attribute(form, '#step_id') == 'payment_method' %}
    {{ form.payment_information.add_payment_method.payment_details }}
    {{ form.payment_information.add_payment_method.billing_information.address }}
    {{ form.match_registration_data }}
    {{ form.actions }}
  {% else %}
    {{ form }}
  {% endif %}
</div>
