<div class="page-wrapper">
    {% include directory ~ '/partials/header.html.twig' %}
    <main class="main">
      <a id="main-content" tabindex="-1"></a>

      <h1 class="page-title">{{ node.title.value }}</h1>
      {{ content }}

      <div class="container">
        <div class="row">
          <section class="col-sm-3">
            <h2 class="sr-only">Information about {{ node.title.value }}</h2>
  
            <div class="info">
              <section>
                <div>
                  <img class="info__headshot" src="{{file_url(node.field_bio_image.entity.uri.value)}}" alt="">
                </div>
                {{ field_bio_image }}
                <h3>Profession</h3>
                <dl>
                  <dt>Category:</dt>
                  <dd>
                      {% for key, value in node.field_maker_category %}
                        {{ node.field_maker_category[key].entity.label }}<br />
                      {% endfor %}
                  </dd>
                  {# Field does not exist in THM public database
                  <dt>Job Type:</dt>
                  <dd>
                    {% for key, value in node.field_occupation %}
                      {{ node.field_occupation[key].target_id }}
                    {% endfor %}
                  </dd> #}
                  <dt>Occupation(s):</dt>
                  <dd>
                      {% for key, value in node.field_occupation %}
                        {{ node.field_occupation[key].entity.label }}<br />
                      {% endfor %}
                    </dd>
                </dl>
              </section>
    
              <section>
                <h3>Favorites</h3>
                <dl>
                  <dt>Favorite Color:</dt>
                  <dd>{{ node.field_favorite_color.value }}</dd>
                  <dt>Favorite Food:</dt>
                  <dd>{{ node.field_favorite_food.value }}</dd>
                  <dt>Favorite Time of Year:</dt>
                  <dd>{{ node.field_favorite_season.value }}</dd>
                  <dt>Favorite Vacation Spot:</dt>
                  <dd>{{ node.field_favorite_vacation.value }}</dd>
                  <dt>Favorite Quote:</dt>
                  <dd>{{ node.field_favorite_quote.value }}</dd>
                </dl>
              </section>
    
              <section>
                <h3>Birthplace</h3>
                <dl>
                  <dt>Born:</dt>
                  <dd>{{ node.field_birth_date[0].value }}</dd>
                  <dt>Birth Location:</dt>
                  <dd>{{ node.field_birth_place_term[0].entity.label }}</dd>
                  {# Cannot find field in THM public database
                  <dt>Residence:</dt>
                  <dd></dd> #}
                </dl>
              </section>
            </div>

            <section class="discover">
              <h2 class="discover__heading">Discover Other Related HistoryMakers</h2>

              <div class="bio-card">
                <img class="bio-card__img" src="http://via.placeholder.com/150x150" alt="">
                <div class="bio-card__info">
                  <span class="bio-card__name">Lilia Abron</span><br>
                  <span class="bio-card__job">Chemical Engineer</span>
                </div>
              </div>

              <div class="bio-card">
                <img class="bio-card__img" src="http://via.placeholder.com/150x150" alt="">
                <div class="bio-card__info">
                  <span class="bio-card__name">Joanne Berger-Sweeney</span><br>
                  <span class="bio-card__job">Neurobiologist</span>
                </div>
              </div>

              <div class="bio-card">
                <img class="bio-card__img" src="http://via.placeholder.com/150x150" alt="">
                <div class="bio-card__info">
                  <span class="bio-card__name">Gwendolyn E. Boyd</span><br>
                  <span class="bio-card__job">Civic Leader,</span><br>
                  <span class="bio-card__job">Mechanical Engineer</span>
                </div>
              </div>
            </section>
  
          </section>
          <div class="col-sm-9">
            <section>
              <h2>Biography</h2>
              {% autoescape %}
                <p>{{ node.body.value|raw|nl2br }}</p>
              {% endautoescape %}
            </section>
            {# {{ page.content }} #}
            {% if node.field_web_clip1.value %}
            <section>
              <h2>Selected Video Oral History Segments</h2>
              {# Titles, Thumbnails and Timing Pairs to be added when available in the DB #}
              <app-root source="{{ node.field_web_clip1.value }}" 
                        source2="{{ node.field_web_clip2.value }}"
                        title="Temporary Placeholder Title 1"
                        title2="Temporary Placeholder Title 2"
                        thumb="https://thmdatestmedia.blob.core.windows.net/media/story/image/2336"
                        thumb2="https://thmdatestmedia.blob.core.windows.net/media/story/image/2366"
                        timingPairs="">Loading...</app-root>
            </section>
            {% endif %}

            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                  <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                      <a class="collapsed card-head-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        List of Stories
                      </a>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                      <a class="collapsed card-head-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Finding Aids
                      </a>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
              <section>
                <h2>Archival Photos</h2>
                <div class="row">
                  <div class="col-sm-6 archive">
                    <img class="archive__photo" src="{{file_url(node.field_archival_image1.entity.uri.value)}}" alt="">
                  </div>
                  <div class="col-sm-6">
                    <img class="archive__photo" src="{{file_url(node.field_archival_image2.entity.uri.value)}}" alt="">
                  </div>
                </div>
              </section>
          </div>
          
        </div>
      </div>


    </main>
  </div>
  
  {% include directory ~ '/partials/footer.html.twig' %}