<div> {{ form.field_salutation }}</div>
<div class="form__row">
    <div class="form__field">{{ form.field_intl_address }}</div>
    <div class="form__field form__field--small">{{ form.field_middle_initial }}</div>
</div>

<div class="form__row">
    <div class="form__field">{{ form.field_address }}</div>
    <div class="form__field">{{ form.field_city }}</div>
    <div class="form__field">{{ form.field_location_state }}</div>
    <div class="form__field">{{ form.field_zip }}</div>
</div>

<div class="form__row">
    <div class="form__field">{{ form.field_home_phone}}</div>
    <div class="form__field">{{ form.field_work_phone}}</div>
    <div class="form__field">{{ form.field_cell_phone}}</div>
</div>


<div class="form__row">
    <div class="form__field">{{ form.register.mail }}</div>
    <div class="form__field">{{ form.field_email_address }}</div>
</div>

{{ form.register['#element_validate'] }}

<div class="form__row">
    <div class="form__field">{{ form.register.name }}</div>
    <div class="form__field">{{ form.register.password }}</div>
</div>

<div class="form__row">
    <div class="form__button form__button--cancel">{{ form.cancel }}</div>
    <div class="form__button form__button--primary">{{ form.submit }}</div>
</div>
