{#
#  The following values are available:
#  - title
#  - url
#  - first_name
#  - last_name
#  - bio_image
#  - maker_type (list)
#  - occupations (list)
#}

<div class="related-makers">

  {# Related by Birthplace #}
  <div class="accordion">
      <button class="accordion__panel" type="button" data-toggle="collapse" data-target="#related-by-birthplace" aria-expanded="true" aria-controls="related-by-birthplace">
          Related by Birthplace ({{ data.birthplace_str }})
          <span class="accordion__arrow">
              <span class="accordion__arrow-half"></span>
              <span class="accordion__arrow-half"></span>
          </span>
      </button>
      <div class="collapse show accordion__body" id="related-by-birthplace">
          <div class="card">
            {{ drupal_view('related_makers_by_birthplace', 'block_1', data.birth_place) }}
          </div>
      </div>
  </div>

  {# Related by Employment #}
  <div class="accordion">
      <button class="accordion__panel" type="button" data-toggle="collapse" data-target="#related-by-employment" aria-expanded="true" aria-controls="related-by-employment">
          Related by Employment ({{ data.employment }})
          <span class="accordion__arrow">
              <span class="accordion__arrow-half"></span>
              <span class="accordion__arrow-half"></span>
          </span>
      </button>
      <div class="collapse show accordion__body" id="related-by-employment">
          <div class="card">
            {{ drupal_view('related_makers_employment_', 'block_1', data.employment) }}
          </div>
      </div>
  </div>

  {# Related by Education #}
  <div class="accordion">
      <button class="accordion__panel" type="button" data-toggle="collapse" data-target="#related-by-education" aria-expanded="true" aria-controls="related-by-education">
          Related by Education ({{ data.education }})
          <span class="accordion__arrow">
              <span class="accordion__arrow-half"></span>
              <span class="accordion__arrow-half"></span>
          </span>
      </button>
      <div class="collapse show accordion__body" id="related-by-education">
          <div class="card">
            {{ drupal_view('related_makers_by_education', 'block_1', data.education) }}
          </div>
      </div>
  </div>

  {# Related by Occupation #}
  <div class="accordion">
      <button class="accordion__panel" type="button" data-toggle="collapse" data-target="#related-by-occupation" aria-expanded="true" aria-controls="related-by-occupation">
          Related by Occupation ({{ data.occupation_str }})
          <span class="accordion__arrow">
              <span class="accordion__arrow-half"></span>
              <span class="accordion__arrow-half"></span>
          </span>
      </button>
      <div class="collapse show accordion__body" id="related-by-occupation">
          <div class="card">
            {{ drupal_view('related_makers_by_occupation', 'block_1', data.occupation) }}
          </div>
      </div>
  </div>

</div>{#related-makers#}
