{#
/**
 * @file
 * Template for the Membership (\become-a-member) page.
 *
 * Available variables:
 * - signup_form: Button that kicks off the "BasicMaker" flow
 * - payment_form: Button that kicks off the "DigitalMaker" flow
 * - industry_form: Button that kicks off the "IndustryMaker" flow
 *
 * @ingroup themable
 *
 * Available buttons
 * - {{ signup_form }}
 * - {{ payment_form }}
 * - {{ industry_form }}
 */
#}

<hr>
<div class="membership row">
  {#<h2 id="pricing" class="two-column-testimonial--header col-12">Pricing</h2>#}
  <section class="col-4 membership--outline-box membership--individual">
    <h3>BasicMaker</h3>
    <img src="../../../themes/custom/hm-public-theme/static/images/individual-icon__basicmaker.png" alt="Individual icon for basicmaker" />
    {{ signup_form }}
  </section>
  <section class="col-4 membership--outline-box membership--individual membership--digitalmaker">
    <h3>DigitalMaker</h3>
    <img src="../../../themes/custom/hm-public-theme/static/images/individual-icon__digitalmaker.png" alt="Individual icon for digitalmaker" />
    {{ payment_form }}
  </section>
  <section class="col-4 membership--institutional">
    <h3>InstitutionMaker</h3>
    <img src="../../../themes/custom/hm-public-theme/static/images/group-icon__institutionmaker.png" alt="Group icon for institutionmaker" />
    {{ industry_form }}
  </section>

  <table class="membership--pricing-table col-12">
    <tbody>
      <tr>
        <td colspan="3">
          <p>Unlimited access to 3,000 interviews &amp; growing (10,000 hours of video)</p>
        </td>
      </tr>
      <tr class="row">
        <td class="col-4"></td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
      </tr> 
      <tr>
        <td colspan="3">
          <p>Full access to The HistoryMakers Digital Archive</p>
        </td>
      </tr>
      <tr class="row">
        <td class="col-4"></td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
      </tr> 
      <tr>
        <td colspan="3">
          <p>Access to 3,000 biographies</p>
        </td>
      </tr>
      <tr class="row">
        <td class="col-4"></td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
      </tr> 
      <tr>
        <td colspan="3">
          <p>A personal My History Chest for easy storage and retrieval of your favorite content</p>
        </td>
      </tr>
      <tr class="row">
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
      </tr> 
      <tr>
        <td colspan="3">
          <p>Access to video clips from The HistoryMakers interviews</p>
        </td>
      </tr>
      <tr class="row">
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
      </tr> 
      <tr>
        <td colspan="3">
          <p>Special invitations to our Public Programs</p>
        </td>
      </tr>
      <tr class="row">
        <td class="col-4"></td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
      </tr> 
      <tr>
        <td colspan="3">
          <p>The ability to nominate HistoryMakers</p>
        </td>
      </tr>
      <tr class="row">
        <td class="col-4"></td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
      </tr> 
      <tr>
        <td colspan="3">
          <p>Access to the ScienceMakers Digital Archive</p>
        </td>
      </tr>
      <tr class="row">
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
      </tr> 
      <tr>
        <td colspan="3">
          <p>Access to the The HistoryMakers Weekly Newsletter</p>
        </td>
      </tr>
      <tr class="row">
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
      </tr> 
      <tr>
        <td colspan="3">
          <p>Related Content Recommendations</p>
        </td>
      </tr>
      <tr class="row">
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
        <td class="col-4">
          <svg id="5ca22da3-378d-46d9-ba33-e1342bde3af1" data-name="Orange Check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.09 44.98"><title>orange-checkmark</title><path id="49cbf49b-205d-45b2-adcd-5dd280525f8c" data-name="Shape 1 copy 2" d="M57.61,1l-41,32.18L8.93,17.81a4.63,4.63,0,1,0-8.6,3.43h0A4.35,4.35,0,0,0,.7,22L10.89,42.41a4.61,4.61,0,0,0,6.18,2.08l0,0a5.41,5.41,0,0,0,.76-.48L63.31,8.31a4.67,4.67,0,0,0,.8-6.53A4.61,4.61,0,0,0,57.64,1l0,0Z" transform="translate(0 0.01)" style="fill:#f05322"/></svg>
        </td>
      </tr> 
    </tbody>
  </table>
</div>
<hr>
