{#
/**
 * @file
 * Theme override for Page Banner module.
 *
 * Available variables:
 * -  background_color
 * -  highlight_section_name
 * -  highlight_section_image
 * -  feature_occupation
 *
 */
#}

{# {{ drupal_dump(banner_data) }} #}

<div class="banner row col-lg-12" style="background-image: url('{{ banner_data.background_image }}'); background-color: {{ banner_data.background_color }};">
  <h2 class="col-lg-9">{{ drupal_title() }}</h2>
  <div class="banner--highlight col-lg-3" style="background-image: url('{{ banner_data.highlight_section_image }}');" alt="{{ banner_data.highlight_section_name }}">
    <p>{{ banner_data.highlight_section }}</p>
    <div class="banner--highlight-name">{{ banner_data.highlight_section_name }}</div>
    <div class="banner--feature-occupation">{{ banner_data.feature_occupation }}</div>
  </div>  
</div>
