{#
/**
 * @file
 * Theme override for Event detail page
 *
 * Available variables using Paragraphs:
 * -  field_event_type
 * -  field_date
 * -  field_date_and_time_details
 * -  field_address
 * -  field_event_image
 * -  field_date_image_label
 * -  field_insert_images
 *
 */
#}

<div class="contextual-region">
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="row">
    <div class="col-sm-12 column">
      {{ content.banner }}
      {# Carousel #}
      <div class="two-column-snapshot-carousel carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="hero-slide carousel-item active">
            <div class="hero-slide--image" style="background-image: url('{{ file_url(content.field_event_image|field_target_entity.uri.value) }}');" alt="{{ content.field_event_image|field_raw('alt') }}">
              <div class="hero-slide--date">
                {{ content.field_date_image_label|field_value }}
              </div>
            </div>
          </div>{# close hero-slide #}
          {# Event Image #}
          {% if content.field_insert_images|field_value is not empty %}
            {% for item in content.field_insert_images|field_value %}
            <div class="row two-column-slide two-column-slide--event carousel-item">
              <div class="col-sm-8 two-column-slide--image">
                {{ item }}
              </div>
              <div class="col-sm-4 two-column-slide--content carousel__caption carousel__caption--event">
                <div class="hero-slide--date">
                  {{ content.field_date_image_label|field_value }}
                </div>
                <div class="carousel__caption--buttons">
                  <a href="#" class="button">Buy Tickets</a>
                  <p>or</p>
                  <a href="#" class="button">Become a Sponsor</a>
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}
        </div>
          {# Pager #}
          {% if content.field_image_slide|length > 17 %}
            <div class="centered-carousel-indicators carousel-indicators" role="menu">
              {% for list in content.field_image_slide['#items'] %}
                {% set item_classes = [start_index == loop.index0 ? 'active'] %}
                <a {{ item.attributes.addClass(item_classes) }} data-target="{{ target }}" data-slide-to="{{ loop.index0 }}" href=".two-column-snapshot-carousel"></a>
              {% endfor %}
            </div>
          {% endif %}
      </div>{# Close Carousel #}
    </div>
  </div>

  <div class="row layout--1-2col-9-3 event__content">
    <div class="col-sm-12 col-md-9 column first event__info">
      {{ content.left_9 }}
      <h2>Description</h2>
      <div class="event__bio">
        {{ content.field_hon_bio01|field_value }}
      </div>
      {{ content.field_event_accordion|field_value }}
    </div>

    <div class="col-sm-12 col-md-3 column last">
      {{ content.right_3 }}
      <div class="event__date-and-time">
        <h2>Date and Time</h2>
        {{ content.field_date|field_value }}
        {{ content.field_date_and_time_details|field_value }}
      </div>
      <div class="event__location">
        <h2>Location</h2>
        {{ content.field_address|field_value }}
        {{ content.field_event_address|field_value }}
        {{ content.field_event_map|field_value }}
      </div>
    </div>

  </div>
</div>
