{#
/**
 * @file
 * Theme override for Event detail page
 *
 * Available variables using Paragraphs:
 * -  field_event_type
 * -  field_date
 * -  field_date_and_time_details
 * -  field_address
 * -  field_event_image
 * -  field_hon_guest02 (honarary guest)
 * -  field_insert_images
 * -  field_hon_bio01
 * -  field_event_chair
 * -  field_hon_chair
 * -  field_benefit_committee
 * -  field_events_sponsors
 * -  field_event_title_sponsor
 *
 */
#}

<div class="contextual-region">
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="row">
    <div class="col-sm-12 column">
      {{ content.banner }}
      {# Carousel #}
      <div class="two-column-snapshot-carousel carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="hero-slide">
            <div class="hero-slide--image" style="background-image: url('{{ file_url(content.field_event_image|field_target_entity.uri.value) }}');" alt="{{ content.field_event_image|field_raw('alt') }}">
            </div>
          </div>
        </div>
          {# Pager #}
          {% if content.field_two_column_snapshot|length > 17 %}
            <div class="centered-carousel-indicators carousel-indicators" role="menu">
              {% for list in content.field_two_column_snapshot['#items'] %}
                {% set item_classes = [start_index == loop.index0 ? 'active'] %}
                <a {{ item.attributes.addClass(item_classes) }} data-target="{{ target }}" data-slide-to="{{ loop.index0 }}" href=".two-column-snapshot-carousel"></a>
              {% endfor %}
            </div>
          {% endif %}
      </div>{# Close Carousel #}
    </div>
  </div>

  <div class="row layout--1-2col-9-3 event__content">
    <div class="col-sm-12 col-md-9 column first event__info">
      {{ content.left_9 }}
      <h2>Description</h2>
      <div class="event__bio">
        {{ content.field_hon_bio01|field_value }}
      </div>

      {# Honorary Chair #}
        {% if content.field_hon_cochair|field_value is not empty %}
        <div class="accordion-block accordion">
          <button class="accordion__panel collapsed" type="button" data-toggle="collapse" data-target="#field_hon_cochair" aria-expanded="false" aria-controls="field_hon_cochair">
            Honorary Chair
            <span class="accordion__arrow">
              <span class="accordion__arrow-half"></span>
              <span class="accordion__arrow-half"></span>
            </span>
          </button>

          <div class="collapse accordion__body" id="field_hon_cochair">
            <ul>
              {% for item in content.field_hon_cochair|field_value %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {# Chair #}
      {% if content.field_chair|field_value is not empty %}
        <div class="accordion-block accordion">
          <button class="accordion__panel collapsed" type="button" data-toggle="collapse" data-target="#field_chair" aria-expanded="false" aria-controls="field_chair">
            Chair
            <span class="accordion__arrow">
              <span class="accordion__arrow-half"></span>
              <span class="accordion__arrow-half"></span>
            </span>
          </button>

          <div class="collapse accordion__body" id="field_chair">
            <ul>
              {% for item in content.field_chair|field_value %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {# Co-chairs #}
      {% if content.field_co_chairs|field_value is not empty %}
        <div class="accordion-block accordion">
          <button class="accordion__panel collapsed" type="button" data-toggle="collapse" data-target="#field_co_chairs" aria-expanded="false" aria-controls="field_co_chairs">
            Co-chairs
            <span class="accordion__arrow">
              <span class="accordion__arrow-half"></span>
              <span class="accordion__arrow-half"></span>
            </span>
          </button>

          <div class="collapse accordion__body" id="field_co_chairs">
            <ul>
              {% for item in content.field_co_chairs|field_value %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {# Benefit Committee #}
      {% if content.field_benefit_committee|field_value is not empty %}
        <div class="accordion-block accordion">
          <button class="accordion__panel collapsed" type="button" data-toggle="collapse" data-target="#field_benefit_committee" aria-expanded="false" aria-controls="field_benefit_committee">
            Benefit Committee
            <span class="accordion__arrow">
              <span class="accordion__arrow-half"></span>
              <span class="accordion__arrow-half"></span>
            </span>
          </button>

          <div class="collapse accordion__body" id="field_benefit_committee">
            <ul>
              {% for item in content.field_benefit_committee|field_value %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {# Premier Sponsor #}
      <hr>
      <section class="event__sponsor">
      <h2>Premier Sponsor</h2>
        {{ content.field_events_sponsors|field_value }}
      </section>

      {# Title Sponsor #}
      <hr>
      <section class="event__sponsor">
      <h2>Title Sponsor</h2>
        {{ content.field_event_title_sponsor|field_value }}
      </section>

    </div>{# closed events__info #}

    <div class="col-sm-12 col-md-3 column last">
      {{ content.right_3 }}
      <div class="event__date-and-time">
        <h2>Date and Time</h2>
        {{ content.field_date|field_value }}
        {{ content.field_date_and_time_details|field_value }}
      </div>
      <div class="event__location">
        <h2>Location</h2>
        {{ content.field_address|field_value }}
        <a href="">View Map</a>
      </div>
    </div>

  </div>
</div>{# Closed contextual-region #}

<script>
$(document).ready(function () {
  $('.two-column-snapshot-carousel').find('.field-item').addClass('carousel-item');
  $('.two-column-snapshot-carousel').find('.field-item').first().addClass('active');
});
</script>
