{#
/**
 * @file
 * Theme override for custom block Intro Content.
 *
 * Available variables:
 * -  field_intro_header
 * -  field_intro_content
 * -  field_intro_button
 *
 */
#}

<div class="contextual-region">
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="intro-content">
    <div class="intro-content__content">
      <h1>{{ content.field_intro_header|field_value }}</h1>
      {{ content.field_intro_content|field_value }}
      {% if content.field_intro_button|field_value is not empty %}
        {% for item in content.field_intro_button|field_value %}
          {{ item }}
        {% endfor %} 
      {% endif %}
    </div>
  </div>

</div>
