{{ drupal_dump(content) }}
{{ feature_name }}
<div class="banner row col-lg-12" style="background-image: url('');">
  <h2 class="col-lg-9">{{ drupal_title() }}</h2>
  <div class="banner--feature col-lg-3" style="background-image: url('{{ feature_image_path }}');">
    <p>Featured Maker</p>
    <div class="banner--feature-name">{{ feature_name }}</div>
    <div class="banner--feature-occupation">{{ feature_occupation }}</div>
  </div>  
</div>