{#
/**
 * @file
 * Theme override for custom block Hero Carousel.
 *
 * Available variables using Paragraphs:
 * -  {{ content.field_image_slide }}
 *
 */
#}


<div class="contextual-region">
{{ title_prefix }}
{{ title_suffix }}
  <div class="image-carousel hero-carousel carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {{ content.field_image_slide }}
      {# {% if content.field_image_slide %} #}
      {% if content.field_image_slide|length > 17 %}
        <div class="centered-carousel-indicators carousel-indicators" role="menu">
          {% for list in content.field_image_slide['#items'] %}
            {% set item_classes = [start_index == loop.index0 ? 'active'] %}
            <a {{ item.attributes.addClass(item_classes) }} data-target="{{ target }}" data-slide-to="{{ loop.index0 }}" href=".image-carousel"></a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
  $('.image-carousel').find('.field-item').addClass('carousel-item');
  $('.image-carousel').find('.field-item').first().addClass('active');
});
</script>
