{#
/**
 * @file
 * Theme override for custom block 2 Column Slide.
 *
 * Available variables using Paragraphs:
 * -  {{ content.field_two_column_slide }}
 *
 */
#}

<div id="two_column_carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {{ content.field_two_column_slide }}
    {% if content.field_two_column_slide %}
      <div class="carousel-indicators" role="menu">
        {% for list in content.field_two_column_slide['#items'] %}
          {% set item_classes = [start_index == loop.index0 ? 'active'] %}
          <a {{ item.attributes.addClass(item_classes) }} data-target="{{ target }}" data-slide-to="{{ loop.index0 }}" href="#two_column_carousel"></a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

<script>
$(document).ready(function () {
  $('#two_column_carousel').find('.field-item').addClass('carousel-item');
  $('#two_column_carousel').find('.field-item').first().addClass('active');
});
</script>